.closed {
    display: none !important;
}

.overlay {
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0,0,0,0.50);
}

.modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
    min-height: 250px;
    background: #f1f5f9;
    margin: -100px 0 0 -150px;
    border-radius: 5px;
    padding: 5px;
}